@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

@model TeamY.Models.HomeModel

<div id="top-nav">
    <header>
        <i class="icon-codehouse"></i>
        <div class="username">
            <p>@Model.Name</p>
            <p class="login">@Html.ActionLink("Logout", "Logout", "Account")</p>
        </div>
        <div class="login-out">

        </div>
        <div class="nav">
            <ul>
                <li><a href="#">Codehouse<i class="icon-codehouse"></i></a></li>
                <li><a href="#">Galaxy<i class="icon-galaxy"></i></a></li>
                <li><a href="#">Pandora<i class="icon-pandora"></i></a></li>
                <li><a href="#">LEGO<i class="icon-lego"></i></a></li>
                <li><a href="#">Admin<i class="icon-business"></i></a></li>
            </ul>
        </div>

    </header>

</div>

<div id="wrapper">

    <main>
        <!-- BEGIN: Overview -->
        <section class="overview">
            <div class="location--table">
                <div class="location-stats">
                    <h2>Location</h2>
                    <div class="data-list">
                        <ul id="location-list">
                            <!--BEGIN Location -->
                            <li>
                                <i class="icon-business"></i>
                                <span>10</span>
                                <span>Meeting</span>
                            </li>
                            <!--END Profile -->
                            <!--BEGIN Location -->
                            <li>
                                <i class="icon-lunch"></i>
                                <span>3</span>
                                <span>Lunch</span>
                            </li>
                            <!--END Profile --> <!--BEGIN Location -->
                            <li>
                                <i class="icon-working-at-home"></i>
                                <span>2</span>
                                <span>Home</span>

                            </li>
                            <!--END Profile -->
                            <!--END Profile --> <!--BEGIN Location -->
                            <li>
                                <i class="icon-day-off"></i>
                                <span>2</span>
                                <span>Day Off</span>
                            </li>
                            <!--END Profile -->
                        </ul>
                    </div>
                    <a href="">See all</a>
                </div>

            </div>
            <div class="mood--table">
                <div class="mood-stats">
                    <h2>Mood</h2>
                    <div class="mood-container">
                        <div class="mood-icon">
                            <i class="icon-happy"></i>
                        </div>
                        <div class="mood-data">4.2</div>
                    </div>
                    <a href="">See all</a>
                </div>
            </div>
            <div class="lunch--table">
                <div class="lunch-stats">
                    <h2>Todays lunch<i class="icon-lunch"></i> </h2>

                    <div class="lunch-content" id="lunch-content">
                    </div>
                    @Html.ActionLink("Manage", "Index", "LunchManager")
                </div>
            </div>
            <div class="deployment--table">
                <h2>Last @Model.LatestDeployments.Deployments.Count Deployments <span>(@Model.LatestDeployments.TotalNumber)</span></h2>
                <ul>
                    @foreach (var deployment in Model.LatestDeployments.Deployments)
                    {
                        <li>
                            @deployment.Project.Name (@deployment.Version)
                            <span>To @deployment.Enviroment.Name on @deployment.Created</span>
                        </li>
                    }
                </ul>
            </div>
        </section>
        <!-- END: Overview -->
        <!-- BEGIN: Location settings -->
        <section class="location--settings">
            <div class="location--settings--container">
                <div class="profile-img">
                    <img src="@Model.UserImage" alt="">
                </div>
                <div class="profile-settings">
                    <div class="location">
                        <h2>@Model.Name</h2>
                        <div class="title">Status</div>
                        <div class="option">
                            <select id="updateStatus">
                                <option value="work">Work</option>
                                <option value="home">Home</option>
                            </select>
                            <i class="icon-lunch"></i>
                        </div>
                    </div>
                    <div class="mood">
                        <div class="title">Mood</div>
                        <div class="option">
                            <select id="updateMood">
                                <option value="happy" data-image="/img/icons/happy.png">Happy</option>
                                <option value="not happy" data-image="/img/icons/nothappy.png">Not Happy</option>
                            </select>
                            <i class="icon-mad"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END: Location settings -->
        <!-- BEGIN: Location stats -->
        <section class="location--details">
            @Html.Partial("_LocationDetails", Model.LocationDetails)
            <div class="location--details--container">
                <div class="data-list">
                    <ul>
                        <!--BEGIN Profile -->
                        <li>
                            <div class="profile-img">
                                <img src="http://www.codehouse.com/~/media/Codehouse/240x240/240x240-Martin-P.ashx" alt="">
                            </div>
                            <div class="profile-location">Work</div>
                            <div class="profile--mood--icon">
                                <i class="icon-neutral"></i>
                            </div>
                        </li>
                        <!--END Profile -->
                        <!--BEGIN Profile -->
                        <li>
                            <div class="profile-img">
                                <img src="http://www.codehouse.com/~/media/Codehouse/240x240/240x240-Martin-P.ashx" alt="">
                            </div>
                            <div class="profile-location">Work</div>
                            <div class="profile--mood--icon">
                                <i class="icon-stressed"></i>
                            </div>
                        </li>
                        <!--END Profile -->
                        <!--BEGIN Profile -->
                        <li>
                            <div class="profile-img">
                                <img src="http://www.codehouse.com/~/media/Codehouse/240x240/240x240-Martin-P.ashx" alt="">
                            </div>
                            <div class="profile-location">Work</div>
                            <div class="profile--mood--icon">
                                <i class="icon-yelling"></i>
                            </div>
                        </li>
                        <!--END Profile -->
                    </ul>
                </div>
            </div>
        </section>
        <section class="mood--details"></section>
    </main>
    <footer></footer>
</div> 